// Variables

// Font families
$segoe: 'Segoe UI Regular', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--light: 'Segoe UI Light', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--semi: 'Segoe UI Semibold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
$segoe--bold: 'Segoe UI Bold', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;

// MWF Font weights
$bold: 700;
$semi-bold: 600;
$normal: 400;

// Colors (You will most likely have to edit these on a project to project basis)
$text--white:       #ffffff;
$text--default:     #000000;
$text--grey:        #737373;
$text--blue:        #0078D7;
$text--darkgrey:    #515151;
$text-orange:       #B8543A;
$text--border--grey:#e6e3e3;
$text-light--orange:#FDD988;

$bg--white:         #ffffff;
$bg--black:         #000000;
$bg--blue:          #0078D7;
$bg--darkgrey:      #a5a5a5;
$bg--primaryheader: #B8543A;
$bg--actionheader:  #DEDEDE;
$bg-grey:           #EEF1F1;

