// All imported SCSS partials

@import "./partials/_reset";      // Normalize
@import "./partials/_mixins";     // Custom mixins to assist in development
@import "./partials/_grid";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/_fonts";      // Decalaring fonts per MWF guidelines
@import "./partials/_variables";  // Declare global variables here
@import "./partials/_typography"; // Declaring all typography


// Header 
a,button{
    cursor: pointer;
}
.hide{
    display: none;
}
.show{
    display: block;
}
.header{
    a{
        @include font-family('Segoe UI Regular');
        @include font-weight(400);
        @include font-size(.9rem);
    }
    nav{
        span{
            display: inline-block;
        }
    }
    &__highlight{
    background: $bg--primaryheader;
    @include padding(all, 10px);
    @include flexbox;
        ul {
            &.left{
                li:nth-child(2){
                    border-right: 1px solid #ccc;
                }
                li:last-child{
                    @include padding(all, 0);
                    span{
                        background: url('/images/sprite.png') no-repeat -25px -350px;
                        width: 6px;
                        height: 9px;  
                    }
                }
                .menu{
                    background-position: -18px -18px;
                    width: 18px;
                    height: 18px;
                }
            }
            &.center{
                @include text-align(center);
                @include margin(top,2px );
            }
            &.right{
                li:first-child{
                    border-right: 1px solid #ccc;
                    span{
                        background: url('/images/sprite.png') no-repeat -1px -53px;
                        width: 40px;
                        height: 20px;
                        @include margin(all,1px 5px 0 0);
                    }
                    
                }
                @include text-align(right);
                @include margin(top,2px );
            }
            @include flex(3);
            li{
                @include inline-flex;
                color: $text--white;
                @include padding(all, 0 5px );
                 vertical-align: middle;
            }
        }
    }
    &__actionHead{
        @include flexbox;
        background: $bg--primaryheader;
        ul {
            li{
                @include inline-flex;
                @include padding(all, 0 10px);
                a{
                    @include font-size(.8rem);
                    color:$text--white;
                }
                &:hover{
                    background: $bg--white;
                    a{
                        color: $bg--primaryheader;
                    }  
                }
            }
        &.left{
            li{
                @include text-transform(capitalize);
                @include v-align(middle);
            &.active{
                background: $bg--white;
                a{
                    color: $bg--primaryheader;
                }
            }
            }
            li:last-child{
                    span{
                        background: url('/images/sprite.png') no-repeat -373px -361px;
                        width: 11px;
                        height: 18px;
                        @include margin(top, 3px);
                        @include v-align(top);
                    }
            }
        }
        &.right{
            @include text-align(right);
            li{
                background: $bg--white;
                @include margin(left,5px)
            }
            a{
                color: $text-orange;
                span{
                    width: 16px;
                    height: 16px;
                    @include v-align(top);
                }
            &.Share{
                span{
                    background: url('/images/sprite.png') no-repeat -73px -337px;
                }
            }
            &.Comments{
                span{
                    background: url('/images/sprite.png') no-repeat -38px -338px;
                    @include v-align(middle);
                }
            }
            }
            
        }
        }
    }
    &__toolbar{
        background: $bg--actionheader;
        @include padding(all,5px 10px);
        ul{
            @include border(right,1px,solid,$text--darkgrey);
            @include inline-flex;
            li{
                position: relative;
                a{
                    @include padding(all,5px 4.3px);
                    @include font-size(12px);
                    span:nth-child(2){
                        background: url('/images/EwaEdit_m2.png') no-repeat -255px -380px !important;
                        width: 12px;
                        height: 8px;
                        -webkit-transform: rotate(179deg);
                        transform: rotate(179deg);
                    }
                        span:first-child{
                            @include v-align(middle);
                        }
                }
            }
            &.crud{

                li:first-child{
                    span{
                        width: 16px;
                        height: 16px;
                    }
                }
                li:nth-child(2){
                    span{
                        width: 16px;
	                    height: 14px;
                    }
                }
            }
            &.fontOps{
                li.dd{
                    @include padding(left,5px);
                    position: relative;
                    input{
                        background: transparent;
                        @include border(all,1px,solid,$text--grey);
                        width: 100px;   
                    }
                    &::before{
                        position: absolute;
                        content: "";
                        top: 9px;
                        right: 1px;
                        height: 13px;
                        width: 11px;
                        background: url('/images/sprite.png') no-repeat -186px -338px;
                    }
                &:nth-child(2){
                    @include padding(left,0);
                    input{
                        width: 50px;
                    }
                }
                }
            }
        &:last-child{
            border:none;
        }
        &.listingOps{
            li:last-child{
                a{
                    @include font-size(18px)
                }
                
            }
        }
        &.searchOps{
            li:last-child{
                a{
                    background: $bg--darkgrey;
                }
                span{
                    @include v-align(middle)
                }
            }
        .tooltip{
            left: -102px;
            &__indicator{
                right: 39px;
                position: absolute;
            }
            .top{       
                right: 41px;
                top: 14px;
            }
            &__content{
                @include margin(top,19px)
            }
        }
        .presentation--tooltip{
            border:1px solid red;
            .tooltip{
                left: -290px;
                top: -18px;
                &__indicator{
                    display: none;
                }
                &__content{
                    @include text-align(center);
                    .arrow{
                        display: none;
                    }
                    .extra:last-child{
                        @include margin(top,20px)
                    }
                    p{
                        @include text-align(left)
                    }
                }
            }
        }
        }
        }
        
    }
}

// Body -- Slide Content
.main-view{
    @include flexbox;
    overflow-x:hidden;
}
.slide{
        @include flexbox;
        height: 400px;
        @include align-items(center);
        @include justify-content(center);
        @include flex-wrap(wrap);
        overflow: hidden;
    &__main{
        @include font-family('Segoe UI Regular');
        @include text-align(center);
        width: 100%;
        &__head{
            input{
                @include text-align(center);
                width:100%;
                @include font-family('Segoe UI Regular');
                border:none;
                @include font-size(2.5rem);
                line-height: unset;
                @include text-align(left);
                @include padding(all,0 74px);
            }
            &.main{
                input{
                    @include text-align(center);
                }
                
            }
            img{
                width: 100%;
                @include margin(top,100px)
            }
        }
        &__sub{
            @include padding(all,0 100px);
            position: relative;
            @include margin(all,auto);
            input{
                @include text-align(center);
                @include font-size(1.5rem);
                border:none;
                &.style{
                    @include border(all,1px,dotted,$text--grey);
                    width:100%;
                    @include padding(all, 0 0 60px)
                }
            }
            .tooltip{
                top: 30%;
                left: 28%;
                &__indicator{
                    left: 42px;
                }
                &__content{
                    @include margin(left,31px);
                    .top{
                        left: 44px;
                    }
                }
            }
            .list{
                span{
                    background: $text-light--orange;
                }
                li{
                    @include font-size(20px);
                    @include padding(all, 5px 0);
                    list-style-type: disc;
                    @include text-align(left)
                }
            }
        }
        &.active{
            display: block;
        }
    }
    &.ideas{
        .slide2,.slide3,.slide4,.slide5{
            display: none;
        }
    }
    &.slide1, &.windenergy{
        .slide2,.slide3,.slide4,.slide5{
            display: none;
        }
    }
    &.designer, &.slide3,&.finish{
        .slide1,.slide2,.slide4,.slide5,.slide3{
            display: none;
        }
    }
    &.slide2{
        .slide1,.slide2,.slide4,.slide5,.slide3{
            display: none;
        }
    }
    &.keywords{
        .slide1,.slide3,.slide4,.slide5,{
            display: none;
        }
    }
    &.punctuation, &.timeline{
        .slide1,.slide2,.slide4,.slide5,{
            display: none;
        }
    }
    &.timeline{
        .list{
            span{
                background: transparent;
            }
        }
    }
}
// Left Navigation 
.leftNav {
    &__list{
        @include margin(top,20px);
        @include padding(all,0);
        .images{
            display: none;
        }
        &.designer{
            .images:first-child{
                display: block
            }
        }
        &.designer,&.slide2,&.slide2,&.keywords,&.slide3,&.punctuation,&.timeline,&.finish{
            .slide1{
                .raw-presentation{
                    display: none;
                }

            }
            &.slide2,&.slide2,&.keywords,&.slide3,&.punctuation,&.timeline,&.finish{
                .images{
                    display: none;
                }
                .slide1{
                    .images:last-child{
                        display: block
                    }
                 }
            }
            &.slide3,&.slide3,&.punctuation,&.timeline,&.finish{
                
                .slide2{
                    .raw-presentation{
                        display: none;
                    }
                    .images:last-child{
                        display: block
                    }
                 }
            }
            &.finish{
                
                .slide3{
                    .raw-presentation{
                        display: none;
                    }
                    .images:last-child{
                        display: block
                    }
                 }
            }
        }
    }
        
        &__container{
           @include flexbox;
           @include padding(all,0);
            &--content{
                position: relative;
                @include border(all, 1px, solid, $text--border--grey);
                min-height: 100px;
                @include font-size(10px);
                @include margin(bottom,20px);
                @include padding(all,0);
                &.justify{
                    @include flexbox;
                    @include align-items(center);
                    @include justify-content(center);
                }
                ul{
                    line-height: 1.5;
                    @include padding(left,15px);
                    li{
                        font-size: 7px;
                        list-style-type: disc;
                    }
                }
                .tooltip{
                    right: -163px;
                    top: 0;
                    &__indicator{
                        top: 15px;
                    }
                    &__content{
                        margin-top: 0;
                        margin-left: 25px;
                        .arrow{
                            top: 19px;
                        }
                        button{
                            @include text-align(left)
                        }
                    }
                }
                .raw-presentation{
                    @include padding(all,0 20px);
                }
            }
            &--counter{
                @include padding(all,0)
            }
            &.active{
                .leftNav{
                    &__container{
                        &--counter{
                            color:  $text-orange;
                        }
                        &--content{
                            @include border(all, 2px, solid, $text-orange);
                        }
                    }
                }
            }
            img{
                width:100%,
            }

        }
    
}
// Right Navigation
.rightNav{
    @include padding(right,0);
    h5{
        @include font-weight(600)
    }
    &__head{
        @include margin(all,10px 0);
        @include font-size(15px);
        p{
            @include font-size(12px);
            @include font-weight(600);
          span{  
              background: url('/images/sprite.png') no-repeat -148px -373px;
              width: 10px;
              height: 16px;
              @include inline-flex;
              @include v-align(middle);
            }
        }
    }
    &__content{
        &--search{
            position: relative;
            input{
                @include padding(all,3px 20px);
                width:100%;
                @include font-size(14px)
            }
            &::before{
                position: absolute;
                content: "";
                top: 7px;
                left: 4px;
                width: 13px;
                height: 12px;
                background: url(/images/sprite.png) no-repeat -396px -3px;

            }
        }
        &--picture{
            position: relative;
            @include border(all, 1px, solid, $text--border--grey);
            @include padding(all,6px);
            @include margin(all,5px 0);
            h5, p{
                @include font-size(12px)
            }
        }
        &--thumbnail{
            @include flexbox;
            @include flex-wrap(wrap);
            @include margin(top,5px);
            > div{
                @include padding(all,0);
                background-size: contain !important;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .more-link{
                @include font-size(12px);
                @include margin(top,5px);
            }
            .text-edit{
                width: 100%;
                position: relative;
                height: auto;
                .note{
                    position: absolute;
                    background:$bg-grey;
                    width: 330px;
                    right: -21px;
                    @include padding(all,5px);
                }
                .editor-content{
                    position: relative;
                    @include margin(top,60px);
                    p{
                        position: relative;
                        
                        span::before{
                            content: "\2192";
                            @include font-size(15px);
                        }
                        &::after{
                            content: "";
                            background: url(/images/sprite.png) no-repeat -384px -239px;
                            width: 11px;
                            height: 7px;
                            position: absolute;
                            top: 10px;
                            right: 0;
                        }
                    }
                    .tooltip{
                        top: -35px;
                        left: -179px;
                        &__indicator{
                            right: -24px;
                            top: 41px;
                        }
                        &__content{
                            .arrow{
                                top: 45px;
                            }
                            
                        }
                    }
                }
                
            }
            .action-dual-container{
                @include flexbox;
                div{
                    @include flex(2);
                    &:last-child{
                        text-align: right;
                    }
                }
            }
            .editor-link{
                @include border(top,1px,solid,$text--border--grey);
                a{
                    @include font-size(12px);
                }
            }
            &.fav{
                .tooltip{
                    top: 33px;
                    left: -179px;
                    &__indicator{
                        right: -24px;
                        top: 41px;
                    }
                    &__content{
                        .arrow{
                            top: 45px;
                        }
                        
                    }
                }
            }
        }
            &--recomendation{
                > h5{
                    @include margin(top, 10px);
                }
            }
            &--recommend{
                @include flexbox;
                @include align-items(center);
                @include margin(all, 10px 0);
                .img--container{
                    @include justify-content(center);
                    img{
                        width: 14px;
                        height: 10px;
                    }
                }
                .content--container{
                    h5{
                        @include font-size(10px);
                    }
                    p{
                        @include font-size(10px); 
                    }
                }
            }
            &--choice{
                span{
                    @include font-size(10px);
                    @include margin(right,5px);
                    &.active{
                        color: $bg--blue;
                    }
                }
                label{
                    @include flexbox;
                    @include font-size(12px);
                    @include align-items(center);
                    [type=checkbox]{
                        @include margin(all,2px 5px 0 0)
                    }
                }
            }
            &--imgchoice{
                position: relative;
                @include margin(top,5px);
                img{
                    width: 100%;
                    height: 100%;
                }
                p,a{
                    display: inline;
                    @include font-size(10px);
                }
                a{
                    color: $bg--blue;
                }
                .tooltip{
                    left: -53px;
                    top: -47px;
                    &__indicator{
                        right: -20px;
                        top: 55px;
                    }
                    &__content{
                        .arrow{
                            top: 58px
                        }
                    }
                }
            }
            &--doc{
                @include flexbox;
                div{
                    @include flex(2);
                    .bing-img{
                        background: url('/images/bing-logo.png');
                        width: 12px;
                        height: 12px;
                        background-size: contain;
                        @include v-align(sub)
                    }
                    a{
                        color: $bg--blue;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
                span{
                    @include inline-flex;
                }
                @include font-size(10px);
            }
            &--desinger-content, &--goals-content{
                @include text-align(center);
                position: relative;
                .tooltip{
                    top: -26px;
                    left: -165px;
                    &__indicator{
                        right: -23px;
                        top: 26px;
                    }
                    &__content{
                        @include margin(top,0);
                        @include padding(top, 10px);
                        @include text-align(left);
                        .arrow{
                            top: 30px;
                        }
                        button{
                            @include margin(top,20px);
                            @include text-align(left);
                        }
                    }
                }
                img{
                    width: 85%;
                    height: 100%;
                }
            }
            &--desinger-content{
                .image0{
                    @include border(all,2px,solid,$text-orange);
                }
            }
            &--goals-content{
                .tooltip{
                    top: 104px;
                    left: -150px;
                    &__indicator{
                        right: -23px;
                        top: 24px;
                    }
                }
                .image1{
                    @include border(all,2px,solid,$text-orange);
                }  
            }
    }
}

//Footer 
.footer{
    &__toolbar{
        @include border(top,1px, solid, $text--border--grey);
        @include flexbox;
        ul{
            @include padding(all, 0);
            li{
                @include inline-flex;
                @include padding(all, 0 10px);
                a{
                    @include font-size(10px);
                    text-transform: uppercase;
                    span{
                        @include inline-flex;
                        @include v-align(sub);
                    }
                }
            }
        &.right{
            @include text-align(right);
            li{
                &:last-child{
                    @include padding(right, 0);
                }
            }
        }
        &.left{
            li{
                &:first-child{
                    @include padding(left, 0);
                }
            }
        }
        }
    }
}
// Tooltip
.tooltip{
    position: absolute;
    z-index: 1;
    &__indicator{
        width:15px;
        height:15px;
        background: $bg--blue;
        border-radius: 50%;
        @include inline-flex;
        position: absolute;
    }
    .arrow{
        position: absolute;
        display: block;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid $bg--white;
        box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
        @include inline-flex;
        &.top{
            top: 17px;
        }
        &.right{
            transform: rotate(90deg);
            right: -8px;
        }
        &.left{
            transform: rotate(270deg);
            left: 17px;
        }
    }
    &__content{
        @include margin(top,22px);
        background: $bg--white;
        @include font-size(12px);
        box-shadow: rgba(0, 0, 0, 0.3) 0 -4px 30px;
        @include padding(all,5px);
        width: 155px;
        line-height: 1.5;
        color: $bg--blue;
        button{
            background: transparent;
            border:none;
            @include padding(all,0);
            @include font-weight(600);
            color: $bg--blue;
            @include text-align(left)
        }
        .extra{
            @include flexbox;
            @include margin(bottom,20px)
        }
    }
}
.overlay{
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
    &.grey{
        background-color: rgba(181, 179, 179, 0.7);
    }
}

//STATUS BAR
.status{
    position: relative;
    @include flexbox;
    overflow: hidden;
    &__indicator{
        background: transparent;
        border: none;
        @include font-size(12px);
        color: $text--blue;
    }
    &__outside{
        cursor: pointer;
        @include flexbox;
        @include align-items(center);
        position: absolute;
        height: 20px;
        left: 102px;
        @include padding(all,0);
        span{
            width: 9.8%;
            @include inline-flex;
            @include border(right,1px,solid,$text--grey);
            hr{
                width:100%;
            }
            &:first-child{
                @include border(left,1px,solid,$text--grey);
            }
            &.active{
                @include border(right,1px,solid,$text--blue);
                hr{
                    border-color: $text--blue
                }
                &:first-child{
                    @include border(left,1px,solid,$text--blue);
                }
            }
        }
    }
    #outside {
        height: 20px;
        background-color: transparent;
        z-index: 1;
      }
}

//POPUP

.overlay{
    position: absolute;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2;
    &.grey{
        background-color: rgba(181, 179, 179, 0.7);
    }
}
.popup{
    background: rgba(155, 150, 150, 0.85);;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    &__content{
        background: #fff;
        height: 90%;
        width: 87%;
        margin: 2% auto;
        overflow-y: auto;
        box-shadow: 0 0 33px 15px rgba(87, 84, 83, 0.67);
    }
}