// All imported SCSS partials

@import "./partials/_reset";      // Normalize
@import "./partials/_mixins";     // Custom mixins to assist in development
@import "./partials/_grid";       // This is a modified version of the Bootstrap grid to account for MWF breakpoints and
@import "./partials/_fonts";      // Decalaring fonts per MWF guidelines
@import "./partials/_variables";  // Declare global variables here
@import "./partials/_typography"; // Declaring all typography


// Header 

.header__highlight{
    background: $bg--primaryheader;
    @include padding(all, 10px);
    nav{
        @include flexbox;
    }
        ul {
            &.center{
                @include text-align(center);
            }
            &.right{
                @include text-align(right);
            }
            flex: 3;
            li{
                @include inline-flex;
                color: $text--white;
            }
        }
}
